:root { 
--gray_600_76:#8f895276; 
--white_A700_3f:#ffffff3f; 
--red_300:#f37878; 
--red_50:#faeeec; 
--black_900:#000000; 
--indigo_900_56:#0f267b56; 
--indigo_900_79:#0f277b79; 
--pink_300:#fb5392; 
--black_900_26:#00000026; 
--gray_600:#8f8952; 
--gray_601:#797979; 
--pink_300_7f:#fb53927f; 
--gray_400:#c7c7c7; 
--gray_301:#dadada; 
--gray_302:#eae8db; 
--gray_900:#14141b; 
--indigo_900_4f:#00006d4f; 
--bluegray_100:#d2d2d2; 
--light_blue_50:#e8f8fe; 
--green_50:#efeddd; 
--gray_200:#ebebeb; 
--gray_300:#e9e8da; 
--blue_50:#e5eaff; 
--blue_51:#e4eaff; 
--indigo_201:#96a5db; 
--bluegray_900:#333333; 
--gray_900_3f:#2929293f; 
--indigo_200:#95a4da; 
--bluegray_600:#4c5d77; 
--indigo_900_67:#0f277b67; 
--lime_50:#faf3eb; 
--indigo_900:#0f277b; 
--indigo_901:#10277b; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
}