
    @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #ebebeb;
}
/* Override default focus colors for tailwindcss-forms https://github.com/tailwindlabs/tailwindcss-forms */
[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='search']:focus,
[type='checkbox']:focus,
[type='radio']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  --tw-ring-color: var(--primary-color);
  border-color: var(--primary-color);
}

.react-datepicker-wrapper .react-datepicker__input-container input{
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 0px;
}
.react-datepicker__day.react-datepicker__day--keyboard-selected {
  background: none;
  color: black;
}
input:focus, textarea:focus{
  outline:none !important;
  outline-offset: 0 !important;
  --tw-ring-offset-width:none !important;
}

li:focus-visible{
  outline: none;
}

li:hover{
  cursor: pointer;
}

.tab-panel--selected { animation-name: tabPanel; animation-duration: 300ms; animation-timing-function: linear; }
@keyframes tabPanel { from { opacity: 0; } to { opacity: 1; } }
/* Input style */
.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-container label {
  position: absolute;
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.input-container input {
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.listthesecretsof{
 @apply bg-white_A700 items-center justify-start xl:p-[11px] 2xl:p-[13px] 3xl:p-[15px] lg:p-[9px] rounded-radius5 shadow-bs1 w-[100%]; 
}
.Thesecretsof{
 @apply font-bold font-merriweather leading-[normal] text-gray_600 w-[100%]; 
}
.ByLaosPodcast{
 @apply font-light font-publicsans xl:mt-[11px] 2xl:mt-[13px] 3xl:mt-[15px] lg:mt-[9px] text-bluegray_600 w-[auto]; 
}
.test_12SeptemberTwo{
 @apply font-light mt-[4px] text-bluegray_600 w-[auto]; 
}
.Consistentway{
 @apply font-merriweather italic leading-[normal] ml-[2px] lg:mt-[26px] xl:mt-[32px] 2xl:mt-[37px] 3xl:mt-[44px] text-gray_600 tracking-ls1 w-[90%]; 
}
.RectangleEleven{
 @apply lg:h-[278px] xl:h-[347px] 2xl:h-[391px] 3xl:h-[469px] lg:mt-[21px] xl:mt-[26px] 2xl:mt-[30px] 3xl:mt-[36px] rounded-radius5 w-[100%]; 
}
.description{
 @apply font-light font-publicsans lg:leading-[21px] xl:leading-[26px] 2xl:leading-[30px] 3xl:leading-[36px] ml-[2px] lg:mt-[27px] xl:mt-[33px] 2xl:mt-[38px] 3xl:mt-[45px] text-bluegray_900 w-[96%]; 
}
.post{
 @apply font-light 2xl:ml-[10px] 3xl:ml-[12px] lg:ml-[7px] xl:ml-[8px] text-black_900 w-[auto]; 
}
.emailOne{
 @apply lg:h-[15px] xl:h-[18px] 2xl:h-[21px] 3xl:h-[25px] mb-[1px] lg:w-[14px] xl:w-[17px] 2xl:w-[20px] 3xl:w-[24px]; 
}
.rowcamera{
 @apply font-light lg:ml-[3px] xl:ml-[4px] 2xl:ml-[5px] 3xl:ml-[6px] mt-[4px] text-bluegray_600 w-[auto]; 
}
.RectangleFourteen{
 @apply 3xl:h-[116px] lg:h-[69px] xl:h-[86px] 2xl:h-[97px] rounded-radius5 3xl:w-[115px] lg:w-[68px] xl:w-[85px] 2xl:w-[96px]; 
}
.Consistentway_Four{
 @apply font-bold font-merriweather italic leading-[normal] text-gray_600 w-[100%]; 
}
.duration_Four{
 @apply font-light font-publicsans 2xl:mt-[10px] 3xl:mt-[12px] lg:mt-[7px] xl:mt-[8px] text-bluegray_600 w-[auto]; 
}
.description_Three{
 @apply font-light font-publicsans lg:leading-[24px] xl:leading-[31px] 2xl:leading-[35px] 3xl:leading-[42px] lg:mt-[23px] xl:mt-[29px] 2xl:mt-[33px] 3xl:mt-[39px] text-bluegray_600 w-[99%]; 
}
.rowellipseseventeen{
 @apply font-light lg:ml-[10px] xl:ml-[13px] 2xl:ml-[15px] 3xl:ml-[18px] text-bluegray_600 w-[auto]; 
}
.edit{
 @apply lg:h-[18px] xl:h-[22px] 2xl:h-[25px] 3xl:h-[29px] mb-[1px] lg:w-[17px] xl:w-[21px] 2xl:w-[24px] 3xl:w-[28px]; 
}
.field1{
 @apply font-light p-[0] lg:text-[17px] xl:text-[21px] 2xl:text-[24px] 3xl:text-[28px] text-gray_400 w-[100%]; 
}
.volume{
 @apply lg:h-[36px] xl:h-[45px] 2xl:h-[51px] 3xl:h-[61px] mb-[2px] lg:w-[35px] xl:w-[44px] 2xl:w-[50px] 3xl:w-[60px]; 
}
